ZALO_ENABLED=false
ZALO_COOKIE_JSON=
ZALO_IMEI=
ZALO_USER_AGENT=
ZALO_BOT_ACCOUNT_ID=zalo-bot
ZALO_CONTROLLER_ID=
ZALO_BRIDGE_SECRET=
ZALO_BRIDGE_BASE_URL=
ZALO_CONTROL_PORT=9901
ZALO_GROUP_REFRESH_MS=60000
ZALO_OUTBOX_POLL_MS=15000
ZALO_GROUP_RETENTION_DAYS=30
ZALO_DAILY_SUMMARY_HOUR=9
ZALO_IMAGE_MAX_BYTES=8388608
